extends mixin/pug/layout

block body

  .wrapper

    header.header

      .header-background
        img(src="img/header-background.jpg", alt="")

      .header-inner
        h1.header-inner-title !{"Счет для бизнеса <span class='red'>бесплатно</span> и навсегда"}
        .header-inner-button
          a(href="#") открыть счет

      .header-top
        .header-top-logo
          a(href="#")
            img(src="img/logo.svg", alt="")
        .header-top-contact
          .header-top-contact-number 8 (800) 775-88-88
          .header-top-contact-caption Бесплатный звонок по России

    main.main

      .info1

        .info1-inner

          .info1-inner-item
            .info1-inner-item-image
              img(src="img/main-11.svg", alt="")
            .info1-inner-item-text Бесплатные платежи внутри банка 24/7

          .info1-inner-item
            .info1-inner-item-image
              img(src="img/main-12.svg", alt="")
            .info1-inner-item-text #{"Внешние платежи\nпо ДБО 19/5"}

          .info1-inner-item
            .info1-inner-item-image
              img(src="img/main-13.svg", alt="")
            .info1-inner-item-text Бесплатная проверка контрагентов

          .info1-inner-item
            .info1-inner-item-image
              img(src="img/main-14.svg", alt="")
            .info1-inner-item-text #{"Удобная карта\nдля бизнеса в подарок"}

      .cards

        .cards-inner
          h2.cards-inner-title Пакеты для любого бизнеса

          .cards-inner-content
            .cards-inner-content-top
              .cards-inner-content-top-left.card
                .card-image
                  img(src="img/mask-left-top.svg", alt="")

                .card-title !{"<span>Сочный</span><span>0 ₽/мес</span>"}

                .card-line

                .card-content
                  .card-content-column
                    .card-content-column-inner
                      .card-content-column-inner-item
                        .card-content-column-inner-item-title 3 платежа
                        .card-content-column-inner-item-text контрагентам в другой банк
                      .card-content-column-inner-item
                        .card-content-column-inner-item-title Бизнес-карта
                        .card-content-column-inner-item-text +обслуживание первый год
                  .card-content-column
                    .card-content-column-inner
                      .card-content-column-inner-item
                        .card-content-column-inner-item-title до 200 тыс ₽/мес
                        .card-content-column-inner-item-text переводы ФЛ внутри банка
                          span(title="Подсказка").help ?

                .card-button
                  a(href="#") открыть счет
              .cards-inner-content-top-right.card
                .card-image
                  img(src="img/mask-right-top.svg", alt="")

                .card-title !{"<span>Освежающий</span><span>500 ₽/мес</span>"}

                .card-line

                .card-content
                  .card-content-column
                    .card-content-column-inner
                      .card-content-column-inner-item
                        .card-content-column-inner-item-title 5 платежей
                        .card-content-column-inner-item-text контрагентам в другой банк
                      .card-content-column-inner-item
                        .card-content-column-inner-item-title до 200 тыс ₽/мес
                        .card-content-column-inner-item-text переводы в пользу ФЛ
                          span(title="Подсказка").help ?
                  .card-content-column
                    .card-content-column-inner
                      .card-content-column-inner-item
                        .card-content-column-inner-item-title до 50 тыс ₽/мес
                        .card-content-column-inner-item-text прием наличных
                      .card-content-column-inner-item
                        .card-content-column-inner-item-title Бизнес-карта
                        .card-content-column-inner-item-text +обслуживание первый год

                .card-button
                  a(href="#") открыть счет  

            .cards-inner-content-bottom
              .cards-inner-content-top-left.card
                .card-image
                  img(src="img/mask-left-bottom.svg", alt="")

                .card-title !{"<span>Бодрящий</span><span>1 200 ₽/мес</span>"}

                .card-line

                .card-content
                  .card-content-column
                    .card-content-column-inner
                      .card-content-column-inner-item
                        .card-content-column-inner-item-title 15 платежей
                        .card-content-column-inner-item-text контрагентам в другой банк
                      .card-content-column-inner-item
                        .card-content-column-inner-item-title до 300 тыс ₽/мес
                        .card-content-column-inner-item-text переводы в пользу ФЛ
                          span(title="Подсказка").help ?
                      .card-content-column-inner-item
                        .card-content-column-inner-item-title СМС-инфо по счету
                        .card-content-column-inner-item-text бесплатно
                  .card-content-column
                    .card-content-column-inner
                      .card-content-column-inner-item
                        .card-content-column-inner-item-title до 100 тыс ₽/мес
                        .card-content-column-inner-item-text прием наличных
                      .card-content-column-inner-item
                        .card-content-column-inner-item-title Бизнес-карта
                        .card-content-column-inner-item-text +обслуживание первый год

                .card-button
                  a(href="#") Открыть счет
              .cards-inner-content-top-right.card
                .card-image
                  img(src="img/mask-right-bottom.svg", alt="")

                .card-title !{"<span>Полезный</span><span>2 500 ₽/мес</span>"}

                .card-line

                .card-content
                  .card-content-column
                    .card-content-column-inner
                      .card-content-column-inner-item
                        .card-content-column-inner-item-title 50 платежей
                        .card-content-column-inner-item-text контрагентам в другой банк
                      .card-content-column-inner-item
                        .card-content-column-inner-item-title до 300 тыс ₽/мес
                        .card-content-column-inner-item-text переводы в пользу ФЛ
                          span(title="Подсказка").help ?
                      .card-content-column-inner-item
                        .card-content-column-inner-item-title СМС-инфо по счету
                        .card-content-column-inner-item-text бесплатно
                  .card-content-column
                    .card-content-column-inner
                      .card-content-column-inner-item
                        .card-content-column-inner-item-title без ограничений
                        .card-content-column-inner-item-text прием наличных
                      .card-content-column-inner-item
                        .card-content-column-inner-item-title Бизнес-карта
                        .card-content-column-inner-item-text +обслуживание первый год

                .card-button
                  a(href="#") Открыть счет

        .cards-sticker
          a(href="#").cards-sticker-link #{"Подробнее\nо тарифах"}
          .cards-sticker-image
            img(src="img/sticker.svg", alt="")

      .tabs

        .tabs-inner

          .tabs-inner-panel
            .tabs-inner-panel-item(data-index="1").active Бизнес-карта

            .tabs-inner-panel-item(data-index="2") Интернет и Мобильный Банк

            .tabs-inner-panel-item(data-index="3") Эквайринг

            .tabs-inner-panel-item(data-index="4") Онлайн касса

            .tabs-inner-panel-item(data-index="5") Полезные сервисы

          .tabs-inner-content
            .swiper-wrapper
              .swiper-slide
                .slide(data-tab="business-card")
                  .image
                    img(src="img/cards.png", alt="")

                  .content
                    h3.content-title #{"Карта для бизнеса —\nраспоряжайтесь деньгами компании 24/7"}

                    .content-text
                      .content-text-item Круглосуточный доступ к деньгам на счете
                      .content-text-item Платите без комиссии
                      .content-text-item Снимайте наличные
                      .content-text-item Пользуйтесь специальными предложениями

              .swiper-slide
                .slide(data-tab="business-card")
                  .image
                    img(src="img/cards.png", alt="")

                  .content
                    h3.content-title #{"Карта для бизнеса —\nраспоряжайтесь деньгами компании 24/7"}

                    .content-text
                      .content-text-item Круглосуточный доступ к деньгам на счете
                      .content-text-item Платите без комиссии
                      .content-text-item Снимайте наличные
                      .content-text-item Пользуйтесь специальными предложениями
                      .content-text-item Платите без комиссии

              .swiper-slide
                .slide(data-tab="business-card")
                  .image
                    img(src="img/cards.png", alt="")

                  .content
                    h3.content-title #{"Карта для бизнеса —\nраспоряжайтесь деньгами компании 24/7"}

                    .content-text
                      .content-text-item Круглосуточный доступ к деньгам на счете
                      .content-text-item Платите без комиссии
                      .content-text-item Снимайте наличные
                      .content-text-item Пользуйтесь специальными предложениями
                      .content-text-item Круглосуточный доступ к деньгам на счете
                      .content-text-item Платите без комиссии
                      .content-text-item Снимайте наличные

              .swiper-slide
                .slide(data-tab="business-card")
                  .image
                    img(src="img/cards.png", alt="")

                  .content
                    h3.content-title #{"Карта для бизнеса —\nраспоряжайтесь деньгами компании 24/7"}

                    .content-text
                      .content-text-item Круглосуточный доступ к деньгам на счете
                      .content-text-item Платите без комиссии
                      .content-text-item Снимайте наличные
                      .content-text-item Пользуйтесь специальными предложениями
                      .content-text-item Круглосуточный доступ к деньгам на счете
                      .content-text-item Платите без комиссии

              .swiper-slide
                .slide(data-tab="business-card")
                  .image
                    img(src="img/cards.png", alt="")

                  .content
                    h3.content-title #{"Карта для бизнеса —\nраспоряжайтесь деньгами компании 24/7"}

                    .content-text
                      .content-text-item Круглосуточный доступ к деньгам на счете
                      .content-text-item Платите без комиссии
                      .content-text-item Снимайте наличные
                      .content-text-item Пользуйтесь специальными предложениями
                      .content-text-item Круглосуточный доступ к деньгам на счете
                      .content-text-item Платите без комиссии
                      .content-text-item Снимайте наличные
                      .content-text-item Пользуйтесь специальными предложениями

      .info2

        .info2-inner
          
          .info2-inner-title Три простых шага
          
          .info2-inner-items
            .info2-inner-items-item
              .info2-inner-items-item-image
                img(src="img/main-21.svg", alt="")
              .info2-inner-items-item-text #{"Оставьте заявку\nна сайте"}
            
            .info2-inner-items-item
              .info2-inner-items-item-image
                img(src="img/main-22.svg", alt="")
              .info2-inner-items-item-text #{"Получите номер счёта\nи реквизиты"}
            
            .info2-inner-items-item
              .info2-inner-items-item-image
                img(src="img/main-23.svg", alt="")
              .info2-inner-items-item-text #{"Подпишите\nдокументы"}

      .form
        h2.form-title Оставить заявку
        .form-block
          form(action="#")
            label.form-block-input
              p Номер мобильного телефона
              input(type="text", name="phone-number", placeholder="+7 (___) ___-____")
            label.form-block-checkbox
              input(type="checkbox", name="agreement")
              span.text Я согласен с 
              a(href="#").text.link условиями передачи информации
              span.text , и подтверждаю согласие с 
              a(href="#").text.link условиями резервирования счета
              span.mark
            p.form-block-notice После нажатия на кнопку "Подтвердить" на Ваш телефон будет направлен 4-значный код. Вводя код из SMS, я соглашаюсь с условиями пользовательского соглашения и согласен(на) на обработку моих персональных данных.
            button(type="submit").form-block-submit подтвердить

    footer.footer
      .inner
        .footer-top Предложение действует для физических лиц (ИП) и юридических лиц (ООО) при открытии расчетного счета для ведения расчётно - кассового обслуживания (рко) в Азиатско-Тихоокеанском Банке (ПАО).
        .footer-bottom
          .footer-bottom-left © Азиатско-Тихоокеанский Банк (ПАО), 2007 - 2019
          .footer-bottom-right
            span Сделано в 
            a(href="#") D'Terra