//- css
mixin cssModule(moduleName)
  link(rel="stylesheet", href=CSS.getPathToModule(moduleName))

mixin cssMain
  link(rel="stylesheet", href=CSS.pathToMain)

mixin cssNormalize
  link(rel="stylesheet", href=CSS.pathToNormalize)

//- js
mixin jsModule(moduleName)
  script(src=JS.getPathToModule(moduleName))

mixin jsMain
  script(src=JS.pathToMain)
